/* FORMS */
main fieldset  {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:em(9);
	@include bp(tablet) {
		width:49%;
		margin-right:2%;
		&:nth-of-type(even) {
			margin-right:0;
		}
	}
}
.search-form-container {
	width:100%;
	padding:em(5);
	margin-top:em(10);
	display:inline-block;
	@include boxstyle;
	@include bp(tablet) {
		float:right;
		width:auto;
	}
}
label {
	float:left;
	color:$body-copy;
	display:block;
	font-size:em(14);
	margin-right:em(7);
	line-height:em(24);
}
input, textarea {
	float:left;
	display:block;
	font-size:em(14);
	padding:em(3) em(5);
	border-radius:em(5);
	border:1px solid $brand-dark;
}

input.search-submit {
	width:8px;
	height:15px;
	border:none;
	margin:em(5) em(5) 0 em(5);
	background:url(#{$assetPath}/right-arrow.png) no-repeat top right;
}

/* Newsletter signup message box */
.thankyou {
	width:96%;
	border:2px solid $brand-dark;
	padding:20px 2%;
	background:rgba(0,174,239,0.3);
	margin-bottom:em(20);
	margin-top:em(11);
	font-size:em(14);
	p {
		color:$brand-dark;
	}
}
.errormsg {
	color:$brand-red;
	width:96%;
	border:2px solid $brand-red;
	padding:20px 2%;
	background:rgba(199,45,58,0.3);
	margin-bottom:em(20);
	margin-top:em(11);
	font-size:em(14);
	a {
		color:$brand-red;
		&:hover {
			color:$brand-red;
			text-decoration:underline;
		}
	}
}

.signup .thankyou {
	width:96%;
	border:none;
	padding:20px 2%;
	background:none;
	margin-bottom:em(20);
	margin-top:em(11);
	font-size:em(14);
	p {
		color:#fff;
	}
}
.signup .errormsg {
	color:$brand-red;
	width:96%;
	border:none;
	padding:20px 2%;
	background:none;
	margin-bottom:em(20);
	margin-top:em(11);
	font-size:em(14);
	a {
		color:$brand-red;
		&:hover {
			color:$brand-red;
			text-decoration:underline;
		}
	}
}

/* Gravity Forms */

.gform_wrapper { }
.gform_heading { }
.gform_description { }
.gform_body { }
.gform_fields { }
.gfield { }
.ginput_container { }
.gform_footer { }
.gform_button { }
