/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == desktop {
		@media (min-width : 940px) { @content; }
	}
	@if $point == tablet {
		@media (min-width : 768px) { @content; }
	}
	@else if $point == phonelandscape {
		@media (min-width : 400px) { @content; }
	}
	@else if $point == phone {
		@media (min-width : 300px) { @content; }
	}
}

/*
 * Background box
*/
@mixin boxstyle {
	border:1px solid $brand-dark;
	border-radius:5px;
	@include background(linear-gradient(#f0f0f0, #e7e7e7) left repeat);
	box-shadow:1px 1px 3px 1px #dcdbdb;
}

/*
 * Boarder box
*/
@mixin borderbox {
	border:1px solid $brand-dark;
	padding:5px;
	background:#fff;
	box-shadow:1px 1px 1px 1px #dcdbdb;
	border:1px solid $brand-dark;
}

/*
 * Mixin for micro clearfix
 * @include microclearfix;
*/
@mixin microclearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	*zoom: 1;
}

/*
 * Mixin for basic CSS triangles
 * @include triangle(up, #000, 50px)
*/
@mixin triangle($direction:up, $color:#000, $size:100px) {
	@if($direction == up) {
		border-color: transparent transparent $color;
		border-style: solid;
		border-width: 0 $size $size;
		height: 0;
		width: 0;
	}
	@if($direction == down) {
		border-color: $color transparent transparent transparent;
		border-style: solid;
		border-width: $size;
		height:0;
		width:0;
	}
	@if($direction == left) {
		border-color: transparent $color transparent transparent;
		border-style: solid;
		border-width: $size $size $size 0;
		height: 0;
		width: 0;
	}
	@if($direction == right) {
		border-color: transparent transparent transparent $color;
		border-style: solid;
		border-width: $size 0 $size $size;
		height:0;
		width:0;
	}
}

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}
