/* GENERAL */
html,body {
    height:100%;
}
body {
	color:$body-copy;
	font-size:100%;
	font-weight:400;
	font-family:Helvetica, Arial, sans-serif;
	@include bp(tablet) { 
		font-size:95%;
	}
	@include bp(desktop) { 
		font-size:100%;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	body  { text-shadow: 0.0em 0.0em 0.05em #3b3b3b;  }
}

a {
	color: $linkColor;
	text-decoration:none;
}
a:hover {
	/*color: $linkHoverColor;*/
}
img {
	max-width:100%;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 {
	font-weight: normal;
	margin:0;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

/* STRUCTURE */
.wrapper {
	width:92%;
	margin:0 auto;
	@include microclearfix;
	@include bp(tablet) {
		width:96%;
	}
	@include bp(desktop) {
		width:940px;
	}
}

.rightalign {
	float:right;
}
.leftalign {
	float:left;
}

/*  Share this */
.stButton .stButton_gradient {
	height: 24px !important;
	margin-bottom:5px;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 24px !important;
	margin-bottom:5px;
}

header {
	position:relative;
	background:#fff;
	h2 {
		font-size:em(14);
		margin-top:em(15);
		text-align:center;
		span {
			font-weight:700;
		}
		@include bp(tablet) {
			clear:right;
			float:right;
			text-align:right;
		}
	}
}
.logo {
	display:block;
	margin:em(80) auto em(20) auto;
	text-align:center;
	@include bp(tablet) {
		float:left; 
		width:auto;
		margin-top:em(13);
	}
}
.sharethisbar {
	display:block;
	margin-top:em(20);
	@include bp(desktop) {
		display:none;
		visibility:hidden;
	}
}
aside .sharethisbar {
	display:none;
	visibility:hidden;
	@include bp(desktop) {
		display:block;
		visibility:visible;
	}
}

.home h1 {
	color:#000;
	font-size:em(14);
	line-height: 0.5;
	font-weight:700;
	margin:em(15) 0;
	text-transform:uppercase;
	span {
		width:100%;
		display: inline-block;
		position: relative;
		&:after {
		  content: "";
		  position: absolute;
		  height:5px;
		  border-bottom: 1px solid #000;
		  right:0;
		  top: 0;
		  width:84%;
		}  
	}	
}

section {
	box-sizing:inherit;
	float:left;
	width:100%;
	@include bp(tablet) {
		width:64.58333333333333%; /*  620 / 960 */
		margin-right:4.16666666666667%;  /*  40 / 960 */
	}
}

aside {
	float:left;
	width:100%;
	margin-top:em(20);
	@include bp(tablet) {
		width:31.25%;  /*  300 / 960 */
		margin-top:0;
	}
}

/*  Home page boxes */
.col  {
	float:left;
	position:relative;
	width:100%;
	@include bp(phonelandscape) {
		width:48%;
		margin-right:2%;
		&:nth-of-type(2n+2) {
			margin-right:0;
		}
	}
	@include bp(desktop) {
		width:23.40425531914894%; /* 220 / 940*/
		min-height:em(190);
		margin-right:2.12765957446809%;  /* 20 / 940 */
		&:nth-of-type(2n+2) {
			margin-right:2.12765957446809%;  /* 20 / 940 */
		}
		&:nth-of-type(4n+4) {
			margin-right:0;
		}
	}
}

.h-feature {
	img {
		@include borderbox;
		margin-bottom:em(16);
	}
	h1, p {
		color:$text-colour;
	}
	h1 {
		font-size:em(14);
		font-weight:700;
		margin:0 0 em(10) 0;
	}
	h2 {
		color:$blue;
		font-size:em(14);
		font-weight:700;
		text-transform:uppercase;
		margin:0 0 em(4) 0;
	}
	p {
		font-size:em(12);
		margin:0;
	}
	span {
		color:$blue;
		font-size:em(12);
	}
}

/* Contact page */
#map {
	width:100%;
	min-height:278px;
	border:3px solid #fff;
	margin-top:em(8);
	img {
		max-width: none;
	}
}
img.mapgraphic {
	margin-top:em(8);
}
#content {
	img {
		display:block;
		max-width:none;
	}
	h1 {
		  font-size:14px;
	}
	ul {
		list-style-type:none; 
		padding:0 0 10px 0;
		margin:0;
		li {
			font-size:12px;
			background:none;
	  	}
	}
}

.contact-details-block {
	margin-top:em(23);
	&.two {
		padding:em(14) 0;
		border-top:1px solid $brand-dark;
	}
	h1 {
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(5);
	}
	address, p, p:first-of-type {
		color:$body-copy;
		font-size:em(14);
		line-height:20px;
		margin-bottom:0;
		font-style:normal;
	}
	ul {
		margin-top:em(9);
		margin-bottom:em(34);
		li {
			font-size:em(14);
		}
	}
}

.contact-details-block .person {
	float:left;
	width:100%;
	@include bp(tablet) {
		width:50%;
	}
	h1 {
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(5);
	}
	h2 {
		font-size:em(14);
		margin-bottom:0;
	}
	h3 {
		color:$body-copy;
		font-size:em(14);
		font-weight:400;
		padding:0;
		margin:0;
		background:none;
	}
	ul {
		margin-top:em(19);
	}
}


/*  Footer */
footer {
	position:relative;
	left:-3%;
	width:106%;
	padding:em(5) 3%;
	display:inline-block;
	margin-top:em(20);
	@include background(linear-gradient(#f0f0f0, #e7e7e7) left repeat);
	h2 {
		color:#000;
		font-size:em(12);
	}
	ul li {
		a {
			color:$body-copy;
			font-size:em(12);
		}
	}
}
footer .foot-col  {
	position:relative;
	float:left;
	width:100%;
	margin-top:em(24);
	margin-bottom:em(24);
	@include bp(tablet) {
		width:48%;
		margin-right:2%;
		&:nth-of-type(2n+2) {
			margin-right:0;
		}
	}
	@include bp(desktop) {
		width:17.23404255319149%; /* 162 / 940*/
		min-height:em(190);
		margin-right:2.12765957446809%;  /* 20 / 940 */
		&:nth-of-type(2n+2) {
			margin-right:2.12765957446809%;  /* 20 / 940 */
		}
		&:nth-of-type(3n+3) {
			margin-right:0;
		}
	}
}


.vertical-align {
	width:100%;
	height:50px;
	vertical-align:middle;
	display:table-cell; 
	@include bp(desktop) { 
		height:38px;
	}
	@include bp(desktop) { 
		height:50px;
	}
	&.second {
		height:64px;
		@include bp(desktop) { 
			height:64px;
		}
		@include bp(desktop) { 
			height:64px;
		}
	}
}

.vertical-align p {
	display:inline-block;
	vertical-align:middle;
}

/****************************************
PAGE TEMPLATES
*****************************************/
/* Home Page */
.home { }

/* Blog Page */
.blog { }
