/* GENERAL */
html,body {
    height:100%;

}

body {
	color:$body-copy;
	font-family: 'karla', sans-serif;
	font-size:100%;
	font-weight:400;
	background:#fff;
	@include bp(tablet) { 
		font-size:95%;
		background:#000;
	}
	@include bp(desktop) { 
		font-size:100%;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 body  { text-shadow: 0.0em 0.0em 0.05em #3b3b3b;  }
}

a {
	color: $linkColor;
	text-decoration:none;
}
a:hover {
	/*color: $linkHoverColor;*/
}
img {
	max-width:100%;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 {
	font-weight: normal;
	margin:0;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

/* STRUCTURE */
.wrapper {
	width:92%;
	margin:0 auto;
	@include microclearfix;
	@include bp(tablet) {
		width:96%;
	}
	@include bp(desktop) {
		width:960px;
	}
}

.yellowimg {
	width:100%;
	display:inline-block;
	color:#000;
	font-weight:700;
	font-size:em(14);
	padding:em(9) em(35) em(9) em(12);
	background:$brand-second;
	&.envelope {
		padding-right:em(50);
		background:$brand-second url(#{$assetPath}/button-envelope-icon.svg) no-repeat 91% center;
	}
	&.arrow {
		font-size:em(16);
		background:$brand-second url(#{$assetPath}/black-button-arrow.svg) no-repeat 91% center;
	}
	&.rightarrow {
		font-size:em(16);
		background:$brand-second url(#{$assetPath}/button-right-arrow.svg) no-repeat 95% center;
	}
	&.leftarrow {
		font-size:em(16);
		padding:em(9) em(12) em(9) em(35);
		background:$brand-second url(#{$assetPath}/button-left-arrow.svg) no-repeat 12px center;
	}
	&:hover {
		color:#000;
	}
	@include bp(tablet) { 
		width:auto;
	}
}
.yellowimg.thinner {
	padding-top:em(2);
	padding-bottom:em(2);
}
.rightalign {
	float:right;
}
.leftalign {
	float:left;
}

/*  Share this */
.stButton .stButton_gradient {
	height: 24px !important;
	margin-bottom:5px;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 24px !important;
	margin-bottom:5px;
}

header {
	position:relative;
	min-height:160px;
	background:#fff;
	@include bp(tablet) { 
		min-height:182px;
	}
}
.logo {
	position:relative;
	top:em(-23);
	width:10%;
	@include bp(tablet) { 
		width:auto;
		top:0;
	}
}
.contact {
	float:right;
	width:60%;
	text-align:right;
	margin-top:em(32);
	@include bp(tablet) { 
		width:55%;
		margin-top:em(12);
	}
	h1 {
		font-size:em(12);
		font-weight:700;
		@include bp(tablet) { 
			font-size:em(15);
		}
	}
	p {
		font-weight:700;
		font-size:em(14);
		margin-bottom:em(14);
		margin-top:0;
		span {
			color:$brand-dark;
		}
		@include bp(tablet) { 
			font-size:em(24);
			margin-bottom:em(8);
		}
		
	}
	
}

.banner {
	padding:em(20) 0;
	background: #044a7e; /* Old browsers */
	background: -moz-linear-gradient(top,  #044a7e 0%, #0564aa 38%, #0564aa 50%, #0564aa 61%, #044a7e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044a7e), color-stop(38%,#0564aa), color-stop(50%,#0564aa), color-stop(61%,#0564aa), color-stop(100%,#044a7e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #044a7e 0%,#0564aa 38%,#0564aa 50%,#0564aa 61%,#044a7e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #044a7e 0%,#0564aa 38%,#0564aa 50%,#0564aa 61%,#044a7e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #044a7e 0%,#0564aa 38%,#0564aa 50%,#0564aa 61%,#044a7e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #044a7e 0%,#0564aa 38%,#0564aa 50%,#0564aa 61%,#044a7e 100%); /* W3C */
	@include bp(tablet) {
		padding:0;
	}
	@include bp(desktop) {
		height:376px;
	}
}

.banner.fullwidth {
	padding:em(7) 0 0 0;
	@include bp(desktop) {
		height:376px;
		padding:0;
	}
}

.sharethisbar {
	display:block;
	margin-top:em(20);
	@include bp(desktop) {
		display:none;
		visibility:hidden;
	}
}
aside .sharethisbar {
	display:none;
	visibility:hidden;
	@include bp(desktop) {
		display:block;
		visibility:visible;
	}
}

main {
	padding-top:em(20);
	background:#e5e5e5;
	h1 {
		color:$brand-dark;
		font-size:em(23);
		line-height:29px;
		font-weight:700;
		margin-top:em(12);
		margin-bottom:em(12);
		@include bp(tablet) {
			font-size:em(28);
			line-height:34px;
			margin-top:0;
			margin-bottom:em(2);
		}
	}
	h1.filter-title {
		font-size:em(23);
		line-height:29px;
		margin-bottom:em(12);
	}
	h2 {
		color:#000;
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(6);
		@include bp(tablet) {
			font-size:em(16);
		}
		@include bp(desktop) {
			font-size:em(18);
		}
	}
	h3 {
		color:#000;
		font-size:em(14);
		font-weight:700;
		padding:em(11) em(12);
		background:$brand-second;
		margin-top:em(19);
	}
	p {
		margin:0;
		font-size:em(14);
		line-height:22px;
		margin-bottom:em(22);
		&:first-of-type,
		&.first {
			color:#000;
			font-size:em(18);
			line-height:26px;
		}
	}
}
.page main,
.single main {
	padding-bottom:em(20);
}

main p.first {
	color:#000;
	font-size:em(18);
	line-height:26px;
}

section {
	box-sizing:inherit;
	float:left;
	width:100%;
	@include bp(tablet) {
		width:64.58333333333333%; /*  620 / 960 */
		margin-right:4.16666666666667%;  /*  40 / 960 */
	}
}

aside {
	float:left;
	width:100%;
	margin-top:em(20);
	@include bp(tablet) {
		width:31.25%;  /*  300 / 960 */
		margin-top:0;
	}
}

/* Contact page */
#map {
	width:100%;
	min-height:278px;
	border:3px solid #fff;
	margin-top:em(8);
	img {
		max-width: none;
	}
}
img.mapgraphic {
	margin-top:em(8);
}
#content {
	img {
		display:block;
		max-width:none;
	}
	h1 {
		  font-size:14px;
	}
	ul {
		list-style-type:none; 
		padding:0 0 10px 0;
		margin:0;
		li {
			font-size:12px;
			background:none;
	  	}
	}
}

.contact-details-block {
	margin-top:em(23);
	&.two {
		padding:em(14) 0;
		border-top:1px solid $brand-dark;
	}
	h1 {
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(5);
	}
	address, p, p:first-of-type {
		color:$body-copy;
		font-size:em(14);
		line-height:20px;
		margin-bottom:0;
		font-style:normal;
	}
	ul {
		margin-top:em(9);
		margin-bottom:em(34);
		li {
			font-size:em(14);
		}
	}
}

.contact-details-block .person {
	float:left;
	width:100%;
	@include bp(tablet) {
		width:50%;
	}
	h1 {
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(5);
	}
	h2 {
		font-size:em(14);
		margin-bottom:0;
	}
	h3 {
		color:$body-copy;
		font-size:em(14);
		font-weight:400;
		padding:0;
		margin:0;
		background:none;
	}
	ul {
		margin-top:em(19);
	}
}


/*  Footer */
footer {
	position:relative;
	padding:em(24) 0;
	background:#000;
	h2 {
		color:#fff;
		font-size:em(12);
		text-transform:uppercase;
		font-weight:700;
		margin-bottom:em(14);
	}
	ul {
		margin-bottom:em(24);
	}
	ul li a {
		color:$brand-second;
		font-size:em(12);
		line-height:16px;
		font-weight:700;
		text-transform:uppercase;
		&:hover {
			color:#fff;
		}
	}
}

.img-list {
	li {
		display:inline-block;	
		margin-right:em(6);
		@include bp(tablet) {
			display:block;
			margin-left:em(6);
			margin-right:0;
			margin-bottom:em(10);
		}
		@include bp(desktop) { 
			display:inline-block;
		}
	}
}

.foot1 {
	float:left;
	width:100%;
	@include bp(tablet) { 
		width:14.58333333333333%;  /*  140/960*/
		margin-right:2.08333333333333%;  /*  20/960*/
	}
}
.foot2 {
	float:left;
	width:100%;
	@include bp(tablet) { 
		width:27.08333333333333%;  /*  260/960*/
		margin-right:2.08333333333333%;  /*  20/960*/
	}
	h2 {
		margin-bottom:em(2);
	}
}
.foot3 {
	float:left;
	width:100%;
	@include bp(tablet) { 
		width:23.95833333333333%;  /*  230/960*/
	}
}
.foot4 {
	float:left;
	width:100%;
	@include bp(tablet) { 
		float:right;
		width:27.08333333333333%;  /*  260/960*/
	}
}
footer article  {
	width:100%;
	display:inline-block;
	margin-bottom:em(10);
	img {
		float:left;
		margin-right:5%;
		@include bp(tablet) { 
			width:34.78260869565217%;  /*  80/230*/
		}
	}
	h1 {
		float:left;
		color:$brand-second;
		font-size:em(12);
		vertical-align: middle;
		@include bp(tablet) { 
			width:90%;  /*  140/230*/
		}
	}
}
footer article a {
	width:100%;
	display:block;
}
footer article.sponsor  {
	width:100%;
	display:inline-block;
	margin-bottom:em(10);
	img {
		float:left;
		margin-right:5%;
		@include bp(tablet) { 
			width:30.76923076923077%;  /*  80/260*/
		}
	}
	h1 {
		float:left;
		color:$brand-second;
		font-size:em(12);
		vertical-align: middle;
		@include bp(tablet) { 
			width:90%;  /*  140/260*/
		}
	}
}
footer article a {
	width:100%;
	display:block;
}

.vertical-align {
	width:100%;
	height:50px;
	vertical-align:middle;
	display:table-cell; 
	@include bp(desktop) { 
		height:38px;
	}
	@include bp(desktop) { 
		height:50px;
	}
	&.second {
		height:64px;
		@include bp(desktop) { 
			height:64px;
		}
		@include bp(desktop) { 
			height:64px;
		}
	}
}

.vertical-align p {
	display:inline-block;
	vertical-align:middle;
}

/****************************************
PAGE TEMPLATES
*****************************************/
/* Home Page */
.home { }

/* Blog Page */
.blog { }
