/* GENERAL */
html,body {
    height:100%;
}
body {
	color:$body-copy;
	font-size:100%;
	font-weight:400;
	font-family:Helvetica, Arial, sans-serif;
	background:#fff;
	@include bp(tablet) { 
		font-size:95%;
	}
	@include bp(desktop) { 
		font-size:100%;
	}
}

a {
	color: $linkColor;
	text-decoration:none;
	&:hover {
		color:$light-blue;
	}
}
img {
	max-width:100%;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1, h2, h3, h4 {
	font-weight: normal;
	margin:0;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

/* BUTTONS */
.light {	
	width:100%;
	display:inline-block;
	min-height:25px;
	font-size:em(13);
	padding:em(6) em(5) em(4) em(5);
	margin-bottom:em(10);
	background:$light-blue;
	border:1px solid #a2cfe6;
	@include textshadowset;
	@include transition (all 0.3s ease-in 0s);
	@include bp(tablet) {
		width:100%;
	}
	@include bp(desktop) {
		width:auto;
		margin-bottom:0;
	}
	&:hover {
		color:#fff;
		background:$dark-blue;
		text-shadow: #112d74 1px 1px;
		@include transition (all 0.3s ease-in 0s);
	}
}

/* STRUCTURE */
.wrapper {
	width:92%;
	margin:0 auto;
	@include microclearfix;
	@include bp(tablet) {
		width:96%;
	}
	@include bp(desktop) {
		width:940px;
	}
}

.rightalign {
	float:right;
}
.leftalign {
	float:left;
}

/*  Share this */
.stButton .stButton_gradient {
	height: 24px !important;
	margin-bottom:5px;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 24px !important;
	margin-bottom:5px;
}

header {
	position:relative;
	width:100%;
	display:inline-block;
	h2 {
		font-size:em(14);
		margin-top:em(15);
		text-align:center;
		span {
			font-weight:700;
		}
		@include bp(tablet) {
			clear:right;
			float:right;
			text-align:right;
		}
	}
}
.logo {
	display:block;
	margin:em(40) auto em(20) auto;
	text-align:center;
	@include bp(tablet) {
		float:left; 
		width:auto;
		margin-top:em(13);
	}
}
.sharethisbar {
	display:block;
	margin-top:em(20);
	@include bp(desktop) {
		display:none;
		visibility:hidden;
	}
}
aside .sharethisbar {
	display:none;
	visibility:hidden;
	@include bp(desktop) {
		display:block;
		visibility:visible;
	}
}

.home h1 {
	color:#000;
	font-size:em(14);
	line-height: 0.5;
	font-weight:700;
	margin:em(15) 0;
	text-transform:uppercase;
	span {
		width:100%;
		display: inline-block;
		position: relative;
		&:after {
		  content: "";
		  position: absolute;
		  height:5px;
		  border-bottom: 1px solid #000;
		  right:0;
		  top: 0;
		  width:45%;
		  @include bp(tablet) {
			  width:80%;
		  }
		  @include bp(desktop) {
			  width:84%;
		  }
		}  
	}	
}


/*  Breadcrumbs */
.breadcrumbs {
	width:100%;
	display:inline-block;
	padding:em(8) 0 em(15) 0;
	font-size:em(12);
	color:#000;
	a {
		text-decoration:underline;
	}
	span {
		display:inline-block;
		margin:0 em(10) 0 em(12);
	}
	p {
		display:inline-block;
		margin:0;
	}
}


aside.left-menu-bar {
	float:left;
	width:100%;
	margin-top:em(20);
	@include bp(tablet) {
		width:18.08510638297872%;  /*  170 / 940 */
		min-height:50px;
		margin-top:0;
	}
}

aside.left-menu-bar-contact {
	float:left;
	width:100%;
	padding:em(17) em(12);
	border-top:1px dashed $brand-dark;
	@include background(linear-gradient(#eeeeee, #ffffff) left repeat);
	margin-top:em(20);
	@include bp(tablet) {
		width:36.17021276595745%;  /*  340 / 940 */
		min-height:50px;
		margin-top:0;
	}
	h2 {
		color:#000;
		font-size:em(16);
	}
	p {
		color:#000;
		font-size:em(12);
	}
	address {
		color:#000;
		font-style:normal;
	}
}

aside.left-menu-bar ul.subnav {
	@include borderbox;
	padding:em(10) em(8);
	background:#f3f3f3;
	li {
		a {
			color:$text-colour;
			display:block;
			font-size:em(12);
			margin-bottom:em(13);
			&:hover {
				color:#000;
				padding-left:em(13);
				background:url(#{$assetPath}/bullet.png) no-repeat center left;
			}
		}
		&:last-child a {
			margin-bottom:0;
		}
		&.current_page_item a {
			color:#000;
			padding-left:em(13);
			font-weight:700;
			background:url(#{$assetPath}/bullet.png) no-repeat center left;
		}
		&.current_page_item ul li a {
			background:none;
		}
	}
}
aside.left-menu-bar ul.subnav ul {
	margin-bottom:em(13);
	li {
		a {
			&:before {
				content:'\2014 \0020';
			}
			&:hover {
				color:#000;
				padding-left:em(13);
				background:none;
			}
		}
	}
}

section {
	box-sizing:inherit;
	float:left;
	width:100%;
	min-height:20px;
	@include bp(tablet) {
		position:relative;
		top:em(-5);
		width:55.31914893617021%; /*  520 / 940 */
		margin-right:1.59574468085106%;  /*  15 / 940 */
		margin-left:1.59574468085106%;  /*  15 / 940 */
	}
}

.post-type-archive-partners section,
.single-partners section,
.page-news-events section,
.single-post section,
.search-results section {
	box-sizing:inherit;
	float:left;
	width:100%;
	min-height:20px;
	@include bp(tablet) {
		position:relative;
		top:em(-5);
		width:74.46808510638298%; /*  700 / 940 */
		margin-right:1.59574468085106%;  /*  15 / 940 */
		margin-left:0;
	}
}

.page-template-page-contact-us-php section {
	box-sizing:inherit;
	float:left;
	width:100%;
	min-height:20px;
	@include bp(tablet) {
		position:relative;
		top:em(-5);
		float:right;
		width:61.70212765957447%; /*  580 / 940 */
		margin-right:0;
	}
	h2 {
		font-size:em(12);
		margin-bottom:0;
	}
	a {
		text-decoration:underline;
	}
}

section {
	h1 {
		color:$text-colour;
		font-size:em(16);
		font-weight:700;
		margin-bottom:em(5);
	}
	h2 {
		color:$text-colour;
		font-size:em(16);
		font-weight:700;
		margin-bottom:em(5);
	}
	p {
		color:#000;
		font-size:em(12);
		line-height:18px;
	}
	ul {
		list-style-type:disc;
		margin-left:em(13);
		li {
			color:#000;
			font-size:em(12);
			line-height:16px;
		}
	}
	a {
		color:$blue;
	}
	.feature__two {
		display:block;
		margin-top:em(5);
		margin-bottom:em(20);
	}
}

section.style__two {
	h1 {
		font-weight:400;
		margin-bottom:0;
	}
	h2 {
		font-size:em(14);
		font-weight:700;
		margin-bottom:0;
	}
	p:first-of-type {
		font-weight:700;
	}
	a {
		color:$blue;
		text-decoration:underline;
	}
}
section.style__three {
	h1 {
		font-weight:700;
		margin-bottom:em(18);
	}
	h2 {
		font-size:em(16);
		font-weight:400;
		margin-bottom:em(8);
	}
	p {
		margin-top:0;
	}
	a {
		color:$blue;
		text-decoration:underline;
	}
}
img.topright {
	position:absolute;
	top:0;
	right:0;
}

.page-template-page-products-single-php section.style__two {
	p:first-of-type {
		font-weight:400;
	}
}

aside.right-menu-bar {
	float:left;
	width:100%;
	margin-top:em(20);
	@include bp(tablet) {
		width:23.40425531914894%;  /*  220 / 960 */
		margin-top:0;
	}
}

.contact-box {
	width:100%;
	display:inline-block;
	@include boxstylecontact;
	h2, p {
		color:#123991;
		font-size:em(12);
	}
	p {
		margin-bottom:em(4);
	}
	p.call,
	p.call a {
		color:#fff;
		margin:0;
	}
}

/*  Home page boxes */
.col  {
	float:left;
	position:relative;
	width:100%;
	@include bp(phonelandscape) {
		width:48%;
		margin-right:2%;
		&:nth-of-type(2n+2) {
			margin-right:0;
		}
	}
	@include bp(tablet) {
		width:23.40425531914894%; /* 220 / 940*/
		min-height:em(190);
		margin-right:2.12765957446809%;  /* 20 / 940 */
		&:nth-of-type(2n+2) {
			margin-right:2.12765957446809%;  /* 20 / 940 */
		}
		&:nth-of-type(4n+4) {
			margin-right:0;
		}
	}
}

aside .col {
	width:100%;
	margin-bottom:em(15);
}

.h-feature {
	img {
		@include borderbox;
		margin-bottom:em(16);
		@include transition (opacity 0.3s ease-in 0s);
	}
	h1, p {
		color:$text-colour;
	}
	h1 {
		font-size:em(14);
		font-weight:700;
		margin:0 0 em(10) 0;
	}
	h2 {
		color:$blue;
		font-size:em(14);
		font-weight:700;
		text-transform:uppercase;
		margin:0 0 em(4) 0;
	}
	h4, span {
		color:$blue !important;
		font-size:em(12) !important;
		margin-bottom:em(5) !important;
	}
	p {
		font-size:em(12);
		margin:0;
		&:first-of-type {
			margin-bottom:em(10);
		}
	}
	
	&:hover {
		img {
			opacity:0.5;
			@include transition (opacity 0.3s ease-in 0s);
		}
	}
}


/* Contact page */
#map {
	width:100%;
	min-height:278px;
	border:3px solid #fff;
	margin-bottom:em(20);
	img {
		max-width: none;
	}
}
img.mapgraphic {
	margin-top:em(8);
}
#content {
	img {
		display:block;
		max-width:none;
	}
	h1 {
		  font-size:14px;
	}
	ul {
		list-style-type:none; 
		padding:0 0 10px 0;
		margin:0;
		li {
			font-size:12px;
			background:none;
	  	}
	}
}

.contact-details-block {
	margin-top:em(23);
	&.two {
		padding:em(14) 0;
		border-top:1px solid $brand-dark;
	}
	h1 {
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(5);
	}
	address, p, p:first-of-type {
		color:$body-copy;
		font-size:em(14);
		line-height:20px;
		margin-bottom:0;
		font-style:normal;
	}
	ul {
		margin-top:em(9);
		margin-bottom:em(34);
		li {
			font-size:em(14);
		}
	}
}

.contact-details-block .person {
	float:left;
	width:100%;
	@include bp(tablet) {
		width:50%;
	}
	h1 {
		font-size:em(18);
		font-weight:700;
		margin-bottom:em(5);
	}
	h2 {
		font-size:em(14);
		margin-bottom:0;
	}
	h3 {
		color:$body-copy;
		font-size:em(14);
		font-weight:400;
		padding:0;
		margin:0;
		background:none;
	}
	ul {
		margin-top:em(19);
	}
}

.partners {
	display:block;
	border-top:1px dashed #000;
	margin-top:em(50);
	padding-top:em(20);
	text-align:center;
	@include bp(tablet) {
		margin-top:em(20);
	}
	img {
		display:inline-block;
		margin-bottom:em(5);
	}
}

section.style__two .downloads,
section.style__three .downloads,
section .downloads {
	width:100%;
	border-top:1px dashed $brand-dark;
	@include background(linear-gradient(#eeeeee, #ffffff) left repeat);
	margin-top:em(20);
	@include bp(tablet) {
		width:57.69230769230769%; /*  300 / 520*/
	}
	h3 {
		color:#000;
		font-size:em(12);
		font-weight:400;
		padding:em(8) em(8);
		background:url(#{$assetPath}/files.png) no-repeat 97% center;
	}
	a {
		color:#000;
		display:block;
		font-size:em(12);
		padding:em(5) 0;
		padding-left:em(28);
		border-top:1px dashed $brand-dark;
		text-decoration:none;
		background:url(#{$assetPath}/file-icon.png) no-repeat em(8) center;
	}
}

section .content-section {
	width:100%;
	border-top:1px dashed $brand-dark;
	@include background-image(linear-gradient(#eeeeee 0, #ffffff 15%));
	padding:em(12) 0;
	margin-top:em(20);
	h3 {
		color:#000;
		font-size:em(12);
		font-weight:700;
	}
	p {
		margin-top:em(9);
	}
}

/* Contact page */
#map {
	width:100%;
	min-height:370px;
	border:1px solid $brand-dark;
	margin-top:em(8);
	img {
		max-width: none;
	}
}
img.mapgraphic {
	margin-top:em(8);
}
#content {
	img {
		display:block;
		max-width:none;
	}
	h1 {
		  font-size:14px;
	}
	ul {
		list-style-type:none; 
		padding:0 0 10px 0;
		margin:0;
		li {
			font-size:12px;
			background:none;
	  	}
	}
}


/*  Footer */
footer {
	position:relative;
	left:-3%;
	width:106%;
	padding:em(5) 3%;
	display:inline-block;
	margin-top:em(20);
	padding-top:em(15);
	@include background-image(linear-gradient(#e7e7e7 0, #ffffff 50%));
	@include bp(tablet) {
		padding-top:0;
	}
	h2 {
		color:#000;
		font-size:em(12);
		margin-bottom:em(5);
	}
	ul {
		padding-bottom:em(10);
		margin-bottom:em(10);
		border-bottom:1px dashed #000;
		li {
			line-height:16px;
			margin-bottom:em(1);
			a {
				color:$body-copy;
				font-size:em(12);
			}
		}
		&.last {
			border-bottom:none;
		}
	}
	ul.important-list {
		border-bottom:none;
		li a {
			color:#000;
			display:block;
			padding:em(2) 0 em(3) 0;
			border-bottom:1px dashed #000;
			&:hover {
				color:$light-blue;
				border-color:$light-blue;
			}
		}
			
	}
	.copy {
		color:#000;
		font-size:em(12);
	}
}
footer .foot-col  {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:em(5);
	@include bp(tablet) {
		width:23%;
		margin-right:2%;
		margin-bottom:em(24);
		margin-top:em(24);
		&:nth-of-type(2n+2) {
			margin-right:0;
		}
	}
	@include bp(desktop) {
		width:17.23404255319149%; /* 162 / 940*/
		min-height:em(190);
		margin-right:2.12765957446809%;  /* 20 / 940 */
		&:nth-of-type(2n+2) {
			margin-right:2.12765957446809%;  /* 20 / 940 */
		}
		&:nth-of-type(3n+3) {
			margin-right:0;
		}
	}
}

footer .foot-col.single  {
	float:right;
	width:100%;
	margin-right:0;
	@include bp(tablet) {
		width:23.40425531914894%; /* 220 / 940*/
		min-height:em(190);
	}
}


.vertical-align {
	width:100%;
	height:50px;
	vertical-align:middle;
	display:table-cell; 
	@include bp(desktop) { 
		height:38px;
	}
	@include bp(desktop) { 
		height:50px;
	}
	&.second {
		height:64px;
		@include bp(desktop) { 
			height:64px;
		}
		@include bp(desktop) { 
			height:64px;
		}
	}
}

.vertical-align p {
	display:inline-block;
	vertical-align:middle;
}

/****************************************
PAGE TEMPLATES
*****************************************/
/* Home Page */
.home { }

/* Blog Page */
.blog { }
