.cycle-slideshow {
	display:none;
	width:100%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	@include bp(tablet) {
		display:block;
	}
}
#next,
#prev {
	display:none;
	visibility:hidden;
	cursor:pointer;
	@include bp(desktop) {
		position:absolute;
		top:0;	
		width:34px;
		height:300px;
		display:block;
		z-index:2000;
		opacity:0.8;
		visibility:visible;	
	}
}
#next {
	right:0;
	background:url(#{$assetPath}/right-arrow-slider.png) no-repeat top right;
}
#prev {	
	left:0;
	background:url(#{$assetPath}/left-arrow-slider.png) no-repeat top left;
}