.banner {
	display:none;
	@include bp(tablet) {
		display:block;
	}
}
.page-products .banner {
	margin-bottom:em(20);
}
.cycle-slideshow {
	display:none;
	width:100%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	@include bp(tablet) {
		display:block;
	}
}
#next,
#prev {
	display:none;
	visibility:hidden;
	cursor:pointer;
	@include bp(desktop) {
		position:absolute;
		top:0;	
		width:34px;
		height:300px;
		display:block;
		z-index:2000;
		opacity:0.8;
		visibility:visible;	
	}
}
#next {
	right:0;
	background:url(#{$assetPath}/right-arrow-slider.png) no-repeat top right;
	&:hover {
		background:url(#{$assetPath}/right-arrow-slider-hover.png) no-repeat top right;
		@include transition (all 0.3s ease-in 0s);
	}
}
#prev {	
	left:0;
	background:url(#{$assetPath}/left-arrow-slider.png) no-repeat top left;
	&:hover {
		background:url(#{$assetPath}/left-arrow-slider-hover.png) no-repeat top left;
		@include transition (all 0.3s ease-in 0s);
	}
}
.slider-container .cycle-pager {
	position:absolute;
	bottom:em(8);
	width:100%;
	z-index:200;
	display:none;
	visibility:hidden;
	text-align:center;
	@include bp(desktop) {
		display:block;
		visibility:visible;
	}
	span {
		display:inline-block;
		width: 13px;
		height: 13px;
		text-indent: -999em;
		background:$light-blue;
		margin-right: 8px;
		cursor:pointer;
		text-indent:-10000px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		text-align:center;
		&.cycle-pager-active,
		&:hover {
			background:$brand-dark;
		}
		&:last-child {
			margin-right:0;
		}
	}
}